@font-face {
    font-family: 'Futura-Book';
    src: url('../font/Futura-Book.eot');
    src: url('../font/Futura-Book%EF%B9%96.eot#iefix') format('embedded-opentype'),
        url('../font/Futura-Book.woff2') format('woff2'),
        url('../font/Futura-Book.woff') format('woff'),
        url('../font/Futura-Book.ttf') format('truetype'),
        url('../font/Futura-Book.svg#Futura-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Futura-Book' !important;
}

/* Sistema de Passos */
.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

/* ===== ESTILOS DO PASSO 1 ===== */
#passo1 body {
    background: linear-gradient(45deg, #00a9ad, #005ca9); 
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh !important;
    overflow: hidden !important;
}

#passo1 .container-principal {
    height: 100vh;
}

#passo1 .container-principal img {
    width: 100px;
}

#passo1 .container-principal h1 {
    color: white;
    font-size: 1.5rem;
    margin-top: 3rem;
}

#passo1 .botoes {
    margin-top: .5rem;
}

#passo1 .botoes a {
    width: 8rem;
    margin: 0rem .7rem;
}

#passo1 .botoes button {
    background-color: #f39200;
    color: white;
    font-weight: 500;
    width: 100%;
    border: none;
    padding: .5rem .5rem .2rem .5rem;
    font-size: 1.2rem;
    border-radius: .4rem;
    cursor: pointer;
}

#passo1 .botoes button:hover {
    background-color: #173e68;
    color: white;
}

#passo1 button.btn-nao {
    background-color: white;
    color: #173e68;
}

/* ===== ESTILOS DO PASSO 2 ===== */
#passo2 .container-bg {
    background: linear-gradient(45deg, #00a9ad, #005ca9); 
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#passo2 .container-principal {
    height: auto;
    margin: 0 auto;
    background-color: white;
    width: 450px;
    max-width: 95%;
    color: black;
    background-color: #fff !important;
    border-radius: .4rem;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 30%);
    padding: 3rem 4rem;
}

@media (max-width: 576px) {
    #passo2 .container-principal {
        padding: 3rem 2rem !important;
    } 
}

#passo2 .container-principal img {
    width: 150px;
}

#passo2 .container-principal h1 {
    color: #0070ae;
    font-size: 1rem;
    margin-top: .4rem;
}

#passo2 .container-principal h2 {
    color: #4d7880;
    font-size: 1.1rem;
    margin-top: 1rem;
    margin-bottom: 2.2rem;
    width: 100%;
    text-align: justify;
}

#passo2 .container-principal h3 {
    color: #0070ae;
    font-size: 1rem;
    margin-top: .6rem;
}

#passo2 .container-principal h3 a{
    color: #0070ae;
    font-weight: 600;
}

#passo2 .container-principal form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#passo2 .container-principal .form-group {
    position: relative;
    width: 100%;
    margin-bottom: 1.5rem;
}

#passo2 .container-principal form label {
    position: absolute;
    top: 11%;
    left: 0;
    transform: translateY(-11%);
    color: #4d7880;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

#passo2 .container-principal form input {
    font-size: 1rem;
    margin: 0 !important;
    padding: 0 !important;
    height: 40px;
    width: 100%;
    border: none;
    border-bottom: 1.3px orange solid !important;
    padding-left: 5px;
    color: #4d7880;
}

#passo2 .container-principal form input:focus {
    outline: 0px !important;
}

#passo2 .botoes {
    margin-top: 2rem;
}

#passo2 button.botoes  {
    margin-top: 1.5rem;
    background-color: #f39200;
    color: white;
    font-weight: 500;
    width: 100%;
    border: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .2rem;
    margin-bottom: .4rem;
    cursor: pointer;
}

#passo2 button.botoes:hover {
    background-color: #173e68;
    color: white;
}

/* ===== ESTILOS DO PASSO 3 ===== */
#passo3 .container-bg {
    background: linear-gradient(45deg, #00a9ad, #005ca9); 
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#passo3 .container-principal {
    height: auto;
    margin: 0 auto;
    background-color: white;
    width: 450px;
    max-width: 95%;
    color: black;
    background-color: #fff !important;
    border-radius: .4rem;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 30%);
    padding: 3rem 4rem;
}

@media (max-width: 576px) {
    #passo3 .container-principal {
        padding: 3rem 2rem !important;
    } 
}

#passo3 .container-principal img {
    width: 150px;
}

#passo3 .container-principal h1 {
    color: #0070ae;
    font-size: 1rem;
    margin-top: .4rem;
}

#passo3 .container-principal h2 {
    color: #4d7880;
    font-size: 1.1rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
    width: 100%;
    text-align: justify;
}

#passo3 .container-principal h3 {
    color: #0070ae;
    font-size: 1rem;
    margin-top: 1.1rem;
}

#passo3 .container-principal h3 a{
    color: #0070ae;
    font-weight: 600;
    cursor: pointer;
}

#passo3 .container-principal form {
    width: 100%;
    display: flex;
    justify-content: start;
    color: #4d7880;
    font-size: 1.1rem;
    margin-top: .4rem;
}

#passo3 .container-principal form label {
    margin-left: .4rem;
}

#passo3 .botoes {
    margin-top: 1rem;
}

#passo3 .botoes a {
    width: 100%;
}

#passo3 .botoes button  {
    background-color: #f39200;
    color: white;
    font-weight: 500;
    width: 100%;
    border: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .2rem;
    margin-bottom: .6rem;
    cursor: pointer;
}

#passo3 .botoes button:hover {
    background-color: #173e68;
}

#passo3 button.btn-nao {
    background-color: transparent !important;
    border: solid 2px #f39200;
    color: #f39200;
}

/* ===== ESTILOS DO PASSO 4 ===== */
#passo4 .topo {
    background-image: url('https://megavirada2025.top/boloes/css/img/bg-top.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

#passo4 .topo-fix {
    background-color: #005da8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 0rem;
}

#passo4 .topo-fix img {
    width: 45px;
    text-align: center;
}

#passo4 .image-lateral img {
    width: 100%;
}

#passo4 .topo-cont {
    padding: 2rem 1rem;
}

#passo4 .topo-fonts h1 {
    font-size: 1.8rem;
    color: white;
}

#passo4 .topo-fonts h2 {
    font-size: 1rem;
    color: white;
}

#passo4 .topo-fonts {
    justify-content: center;
    align-items: start;
}

@media (max-width: 576px) {
    #passo4 .topo-fonts h1 {
        text-align: center;
    }

    #passo4 .topo-fonts h2 {
        text-align: center;
    }

    #passo4 .topo-fonts {
        justify-content: center;
        align-items: center;
    }
}

#passo4 .container-bg {
    background: linear-gradient(45deg, #00a9ad, #005ca9); 
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
}

#passo4 .container-bg h1 {
    font-size: 1.4rem;
    color: white;
    margin-bottom: 1rem;
}

#passo4 .container-principal {
    height: auto;
    margin: 0 auto;
    margin-bottom: 1.6rem;
    background-color: white;
    width: 450px;
    max-width: 100%;
    color: black;
    background-color: #fff !important;
    border-radius: .4rem;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 30%);
    padding: 0rem 0rem;
}

#passo4 .container-destaque {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    margin: 0 auto;
    margin-bottom: 2rem;
    margin-top: 1.2rem;
    background-color: #f39200;
    width: 450px;
    max-width: 100%;
    color: black;
    border-radius: .4rem;
    padding: 1.4rem 1rem 0rem 1rem;
}

#passo4 .container-destaque span {
    margin-top: -2.3rem;
    margin-bottom: 1rem;
    background-color: black;
    padding: .3rem 1.3rem .2rem 1.3rem;
    border-radius: .2rem;
    font-size: .9rem;
    color: white;
}

@media (max-width: 576px) {
    #passo4 .container-principal {
        padding: 0rem 0rem !important;
    } 
}

#passo4 .container-principal img {
    width: 100%;
}

#passo4 .topo-container {
    background-color: #65a86b;
    width: 100%;
    padding: .4rem 0rem;
    border-radius: .4rem .4rem 0rem 0rem;
}

#passo4 .topo-container img {
    width: 23px;
}

#passo4 .topo-container h1 {
    color: white !important;
    font-size: 1.2rem !important;
    margin: 0px;
    margin-left: .4rem !important;
}

#passo4 .container-principal-p {
    padding: 1rem .4rem;
}

#passo4 .container-principal b {
    color: black;
}

#passo4 .container-principal h1 {
    color: #0070ae;
    font-size: 1.5rem;
    margin: .4rem 0rem;
    text-align: center;
}

#passo4 .container-principal h2 {
    color: #4d7880;
    font-size: 1.1rem;
    margin: .4rem 0rem;
    width: 100%;
    text-align: center;
}

#passo4 .container-principal h3 {
    color: #0070ae;
    font-size: 1.3rem;
    line-height: 1em;
    margin: .4rem 0rem;
    text-align: center;
    line-height: 1.8rem;
}

#passo4 .line {
    width: 100%;
    margin: .8rem 0rem;
    border-bottom: dashed #bebebe 1px;
}

#passo4 .dezenas {
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    margin: 1rem 0;
    gap: 0.2rem;
}

#passo4 .dezenas span {
    flex: 1 1 calc(14% - 1rem);
    max-width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0070ae;
    padding: 0.2rem 0rem 0rem 0rem;
    border-radius: 50%;
    color: white;
    font-size: 0.9rem;
    margin: 0;
    line-height: 1;
}

#passo4 .botoes {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.3rem;
}

#passo4 .botoes a {
    width: 100%;
}

#passo4 .botoes button {
    background-color: #f39200;
    color: white;
    font-weight: 500;
    width: 100%;
    border: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .2rem;
    margin-bottom: .6rem;
    cursor: pointer;
}

#passo4 .botoes button:hover {
    background-color: #173e68;
}

#passo4 button.btn-nao {
    background-color: transparent !important;
    border: solid 2px grey;
    color: grey;
}

/* Estilos do Modal */
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
    margin: 0 0 15px;
    color: #333;
}

.modal-content p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #555;
}

.modal-content a {
    background-color: #4CAF50;
    color: white;
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border: none;
    display: inline-block;
}

.modal-content a:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #aaa;
    cursor: pointer;
}

.modal-close:hover {
    color: #000;
}

.modal-content a:active {
    transform: translateY(2px);
}